# [作業目標]

1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

# 作業

### 1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

提供了高效的數據結構和數據分析工具，被廣泛應用於數據科學、金融分析、統計建模等領域。Pandas 最主要的貢獻之一是它所提供的兩種關鍵數據結構：Series 和 DataFrame。

Series 是一維數據結構，類似於一個帶有標籤的數組，可以存儲不同類型的數據，例如整數、浮點數和字符串等。DataFrame 是二維表格數據結構，由多個 Series 組成，每個 Series 對應表格中的一列，而 DataFrame 中的列可以有不同的數據類型。這兩種數據結構為數據處理和分析提供了豐富的功能和工具，例如數據清洗、切片和切割、合併、分組和聚合、遺漏值處理等。

Pandas 還提供了大量的數據操作和分析工具，例如數據加載和存儲、數據篩選和選擇、數據排序、重塑、變形和樞紐分析、時序數據處理等。此外，Pandas 還支持將數據結構和操作與其他 Python 庫和工具集成，例如 Matplotlib、Scikit-learn、Seaborn 等。

總的來說，Pandas 提供了一種高效、靈活和強大的方式來處理和分析數據，成為了數據科學和分析領域中不可或缺的工具之一。

### 2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

In [3]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
df.shape

(10, 4)

In [8]:
df.size

40

In [9]:
df.values

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, nan, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', nan, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [12]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [13]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [17]:
df.__len__

<bound method DataFrame.__len__ of    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes>